@font-face {
    font-family: "Courier_Prime_Regular"; src: url('fonts/Courier_Prime/CourierPrime-Regular.ttf');              
}
@font-face {
    font-family: "Courier_Prime_Italic";src: url('fonts/Courier_Prime/CourierPrime-Italic.ttf');              
}
@font-face {
    font-family: "Courier_Prime_Bold";src: url('fonts/Courier_Prime/CourierPrime-Bold.ttf');              
}
@font-face {
    font-family: "Poppins"; src: url('fonts/Poppins/Poppins-Light.ttf'); 
}
@font-face {
    font-family: "Poppins_bold"; src: url('fonts/Poppins/Poppins-Bold.ttf');
}

/* ------------------------------------------------------------------- 
 * ## background and  colors 
 * ------------------------------------------------------------------- */
:root { 
    --var_background : #efefef;
    --var_color : #efefef;
    --var_back_column1 : #647883;
}
/* ------------------------------------------------------------------- */


body{
  margin: 0;
  padding: 0;
}

#wrapper{
    margin: auto;
    width: 1024px;
    height: 100vh;    
}

#banner{
    background-color: var(--var_background);
}

h1{
    padding-top: 10px;
    padding-left: 20px;
}


.feature {
    background-color: var(--var_background);
    height: 20rem;
    margin-bottom: 1em;
  }

.txt-side-left{
    padding-top: 70px;
    float: left;
    width: 25%;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}
.txt-side-right{
    padding-top: 40px;
    float: right;
    width: 68%;
    text-align: justify;
    padding: 15px;
 }

 .txt-side-right span{
    font-weight: bold;
 }

 ul{    
    background-color: var(--var_background);
    height: 40px;
    text-align: center;    
    padding-top: 20px;

 }

 li{
    display: inline;
    padding-right: 50px;
    font-family: 'Poppins';
    font-weight: 400;
 }

 li a{
    text-decoration: none;
 }

 .column1{
    float: left;
    width: 65%;   
    text-align: justify;  
    background-color: var(--var_back_column1);  
    color: var(--var_color);
    padding: 10px;
}
.column2{    
    float: right;
    width: 30%;
 }

.column2 img { 
    width: 300px;   
    height: 26rem;
    object-fit: cover;
 }


 .article {    
    height: 27rem;
    margin-bottom: 1em;
    background-color: var(--var_background);
}

.p-title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier_Prime_Bold';
 }

 .p-text-header{
    font-weight: 800;
    font-size: 18px;
    font-family: 'Courier_Prime_Italic';
 }

 .p-text{
    font-family: 'Courier_Prime_Regular';
 }

 #footer{
    width: 100%;
    background-color: var(--var_background);
    height: 3rem;
    text-align: center;
    padding-top: 10px;
    font-family: 'Poppins_bold';
 }