*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#app{    
    display: grid; 
    
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);  

    gap: 8px;    
    height: 100vh;
    background: #000000;

    justify-items: end;
 }

 #app > div {     
     background-color: hsl(var(--hue), 82%, 70%); 
     color: #FFFFFF;                        
     font-size: 10px;
     text-align: center;
     padding-top: 10px;
 }  

  
