#app{
    border: 2px solid #000000; 
    display: grid;   
    grid-template-columns: [v0] 1fr [v1] 1fr [v2] 1fr [v3];
    grid-template-rows: [h0] 1fr [h1] 1fr [h2];      
    height: 50vh;            
 }
 .item{
     --hue: 0;
     border: 3px solid yellow;     
     color: #FFFFFF;
     font-weight: bold;
     text-align: center;      
     font-size: 110px;  
     padding-top: 45px;                 
     background-color: hsl(var(--hue), 82%, 70%);                         
 }   
